/* Стили alert окна  */
.alert-box {
  @apply
  fixed z-[10] top-[10px]
  flex
  bg-[var(--not-alert-bg-color)] text-[#fff] text-[20px] rounded-[5px]
  pt-[25px] pr-[30px] pb-[25px] pl-[30px]
  ml-[25px];

  width: calc(var(--main-block-width) - 110px);

  .message {
    width: calc(var(--main-block-width) - 110px - 60px);
  }
}

/* Стили error окна */
.error-box {
  @apply
  fixed z-[1001] bottom-0 right-0
  bg-[var(--not-error-bg-color)]
  mr-10 mb-10
  w-[500px];

  .wrap {
    @apply
    relative
    bg-red-700 text-white
    cursor-pointer
    mt-5 p-5 pl-16
    rounded-md;

    i {
      @apply absolute left-4;
      top: calc(50% - 16px);
    }
  }
}
