/* НАЧАЛО шрифты */
@font-face {
  font-family: "Verdana";
  src: url("/fonts/Verdana.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Verdana-Bold";
  src: url("/fonts/Verdana-Bold.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Verdana-BoldItalic";
  src: url("/fonts/Verdana-BoldItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Verdana-Italic";
  src: url("/fonts/Verdana-Italic.ttf");
  font-style: normal;
  font-weight: normal;
}
/* КОНЕЦ шрифты */
