/* НАЧАЛО кнопки и ссылки */
button,
button, [type="button"], [type="reset"], [type="submit"],
.button {
  @apply
    bg-gradient-to-r from-[var(--main-href-color)] to-[var(--second-href-color)]
    pt-[5px] pr-[20px] pb-[5px] pl-[20px]
    mt-[10px] mb-[10px]
    text-[var(--main-text-color)]
  ;

  &:hover {
    @apply
      bg-gradient-to-r from-[var(--main-hover-color)] to-[var(--second-hover-color)]
    ;
  }
}

a {
  color: var(--main-href-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
/* КОНЕЦ кнопки и ссылки */

/* НАЧАЛО Поля ввода */
input {
  @apply
    pt-[5px] pr-[0] pb-[5px] pl-[0]
    bg-[var(--main-bg-color)]
  ;
  border-bottom: 1px solid var(--second-border-color);

  &:focus-visible {
    @apply outline-none;
  }

  &.error {
    //border-bottom: 1px solid var(--alert-color);
  }
}

textarea {
  &:focus-visible {
    @apply outline-none;
  }
}

select {
  @apply
    pt-[10px] pr-[0] pb-[10px] pl-[0]
    bg-[var(--main-bg-color)]
  ;
  border-bottom: 1px solid var(--second-border-color);

  &:focus-visible {
    @apply outline-none;
  }

  &.error {
    //border-bottom: 1px solid var(--alert-color);
  }
}

textarea {
  @apply
    min-h-[120px]
    pt-[10px] pr-[10px] pb-[10px] pl-[20px]
    border-none
    bg-[var(--main-bg-color)]
  ;

  width: calc(100% - 30px);
  border-bottom: 1px solid var(--second-border-color);
  border-left: 1px solid var(--second-border-color);
  resize: none;
}
/* КОНЕЦ Поля ввода */

/* НАЧАЛО тексты */
.small-text {
  font-size: var(--text-small-text);
}
/* КОНЕЦ тексты */

/* НАЧАЛО Ошибки */

/* Конец Ошибки */

/* НАЧАЛО Общие блоки */
.vein {
  @apply absolute w-full h-full;
  background: rgba(0, 0, 0, 0.5)
}
/* КОНЕЦ Общие блоки */

/* НАЧАЛО Теги */
.tag {
  @apply
  inline-block
  mr-[4px] mb-[4px]
  pt-[4px] pr-[6px] pb-[4px] pl-[6px]
  rounded
  cursor-pointer
  ;

  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);

  &:hover,
  &.selected {
    border: 1px solid var(--main-hover-color);
    color: var(--main-hover-color);
  }
}
/* КОНЕЦ Теги */

/* НАЧАЛО Заголовки */
.title {
  @apply text-[20px] uppercase;

  color: var(--third-text-color);
  text-decoration: none;
}
/* КОНЕЦ Заголовки */
