/* НАЧАЛО границы и марджины */
.without-border {
  @apply
    mr-[--main-mobile-without-right-padding] md:mr-[var(--main-without-right-padding)]
    ml-[--main-mobile-without-left-padding] md:ml-[var(--main-without-left-padding)]
  ;
}
/* КОНЕЦ границы и марджины */

/* НАЧАЛО кнопки и ссылки */
.btn,
.button {
  @apply
    pt-[5px] pr-[20px] pb-[5px] pl-[20px]
    mt-[10px] mb-[10px]
    text-[var(--main-text-color)]
  ;

  &.btn-primary {
    @apply bg-gradient-to-r from-[var(--main-href-color)] to-[var(--second-href-color)];

    &:hover {
      @apply bg-gradient-to-r from-[var(--main-hover-color)] to-[var(--second-hover-color)];
    }
  }

  &.btn-simple {
    @apply
      bg-[var(--main-href-color)]
    ;

    &:hover {
      @apply bg-[var(--main-hover-color)];
    }

    &.active {
      @apply bg-[var(--main-active-color)];
    }
  }

  &.btn-simple-1 {
    @apply bg-[var(--button-color-1)];

    &:hover {
      @apply bg-[var(--main-hover-color)];
    }

    &.active {
      @apply bg-[var(--main-active-color)];
    }
  }

  &.btn-disable {
    @apply bg-gradient-to-r from-[var(--second-border-color)] to-[var(--third-border-color)];
  }
}


a {
  color: var(--main-href-color);
  text-decoration: none;

  &.non-color {
    color: var(--main-text-color);
  }
}

a:hover {
  text-decoration: underline;
}

.media-obj {
  @apply cursor-pointer;
}
/* КОНЕЦ кнопки и ссылки */

/* НАЧАЛО Поля ввода */
input {
  @apply
    pt-[5px] pr-[0] pb-[5px] pl-[0]
    bg-[var(--main-bg-color)]
  ;
  border-bottom: 1px solid var(--second-border-color);

  &:focus-visible {
    @apply outline-none;
  }

  &.error {
    //border-bottom: 1px solid var(--alert-color);
  }
}

textarea {
  &:focus-visible {
    @apply outline-none;
  }
}

select {
  @apply
    pt-[5px] pr-[0] pb-[10px] pl-[0]
    bg-[var(--main-bg-color)]
  ;
  border-bottom: 1px solid var(--second-border-color);

  &:focus-visible {
    @apply outline-none;
  }

  &.error {
    //border-bottom: 1px solid var(--alert-color);
  }
}

textarea {
  @apply
    min-h-[120px] w-full
    pt-[10px] pr-[10px] pb-[10px] pl-[20px]
    border-none
    bg-[var(--main-bg-color)]
  ;

  width: calc(100% - 30px);
  border-bottom: 1px solid var(--second-border-color);
  border-left: 1px solid var(--second-border-color);
  resize: none;
}
/* КОНЕЦ Поля ввода */

/* НАЧАЛО тексты */
.small-text {
  font-size: var(--text-small-text);
}

span.flip-text-box {
  @apply
    absolute bottom-[20%] md:bottom-[30px]
    bg-[var(--main-bg-color)]
    text-[1rem] md:text-[25px] uppercase
    w-full md:w-auto
    text-center md:text-left
  ;

  &.right {
    @apply
      right-[0]
      pt-[10px] pr-[5px] md:pr-[15px] pb-[10px] md:pl-[5px]
    ;
  }

  &.left {
    @apply
      left-[0]
      pt-[10px] pr-[15px] md:pr-[50px] pb-[10px] pl-[15px] md:pl-[15px]
    ;
  }
}
/* КОНЕЦ тексты */

/* НАЧАЛО Ошибки */

/* КОНЕЦ Ошибки */

/* НАЧАЛО Общие блоки */
.vein {
  @apply absolute w-full h-full;
  background: rgba(0, 0, 0, 0.5)
}
/* КОНЕЦ Общие блоки */

/* НАЧАЛО Теги */
.tag {
  @apply
  inline-block
  mr-[4px] mb-[4px]
  pt-[4px] pr-[6px] pb-[4px] pl-[6px]
  rounded
  cursor-pointer
  ;

  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);

  &:hover,
  &.selected {
    border: 1px solid var(--main-hover-color);
    color: var(--main-hover-color);
  }
}
/* КОНЕЦ Теги */

/* НАЧАЛО Заголовки */
.title {
  @apply text-[20px] uppercase;

  color: var(--third-text-color);
  text-decoration: none;
}
/* КОНЕЦ Заголовки */

/* НАЧАЛО Списки */
ul {
  @apply list-disc list-outside ml-[1.5rem];

  &.p-1rem {
    @apply pt-1 pb-1;
  }
}

ol {
  @apply list-decimal list-outside ml-[1.5rem];

  &.p-1rem {
    @apply pt-1 pb-1;
  }
}
/* КОНЕЦ Списки */
