:root {
  /* Цветовая схема InSilentHill  */
  /* Цвета */
  --alert-color: #800000;
  --error-color: #500000;
  --success-color: #004d42;

  /* Фоны */
  --body-bg-color: #333333;
  --main-bg-color: #000000;
  --second-bg-color: #241a1a;

  /* Блоки */
  --main-block-color: #000000;
  --second-block-color: #800000;

  /* Пелена */
  --main-veil-color: rgba(0, 0, 0, 0.5);

  /* Модалки */
  --modal-small-width: 400px;
  --modal-medium-width: 900px;
  --modal-full-screen-width: 100%;

  /* Текст */
  --main-text-color: #C0C0C0;
  --main-text-font: Verdana;
  --second-text-color: #C0C0C0;
  --third-text-color: #C0C0C0;

  /* Размеры шрифтов */
  --main-font-size: 16px;
  --main-title-font-size: 18px;
  --text-small-text: 14px;

  /* Ссылки */
  --main-href-color: #800000;
  --main-hover-color: #900000;
  --second-href-color: #150000;
  --second-hover-color: #250000;

  /* Рамки */
  --main-border-color: #800000;
  --second-border-color: #333333;
  --third-border-color: #1c1c1c;
  --main-very-light-color: #1d1d1d;


  /* Размеры */
  --main-block-width: 1400px;

  /* Отступлы контентной зоны */
  --main-padding: 30px;
  --main-left-padding: 60px;
  --main-right-padding: 60px;
  --main-without-left-padding: -60px;
  --main-without-right-padding: -60px;

  --main-mobile-padding: 20px;
  --main-mobile-left-padding: 20px;
  --main-mobile-right-padding: 20px;
  --main-mobile-without-left-padding: -20px;
  --main-mobile-without-right-padding: -20px;

  /*
   * Префикс первые три буквы, пример alerts - --ale-main-color
   */

  /* Notification */
  --not-alert-bg-color: #004d42;
  --not-error-bg-color: #800000;
}
