:root {
  /* Цветовая схема InSilentHill  */
  /* Цвета */
  --alert-color: #800000;

  /* фоны */
  --body-bg-color: #333333;
  --main-bg-color: #000000;

  /* Пелена */
  --main-veil-color: rgba(0, 0, 0, 0.5);

  /* Текст */
  --main-text-color: #C0C0C0;
  --main-text-font: Verdana;
  --main-font-size: 16px;

  /* Ссылки */
  --main-href-color: #800000;
  --main-hover-color: #900000;
  --second-href-color: #150000;
  --second-hover-color: #250000;

  /* Рамки */
  --main-border-color: #015278;
  --second-border-color: #333333;

  /* Размеры */
  --main-block-width: 1400px;

  /* Отступлы контентной зоны */
  --main-padding: 30px;
  --main-left-padding: 60px;
  --main-right-padding: 60px;
  --main-without-left-padding: -60px;
  --main-without-right-padding: -60px;

  /*
   * Префикс первые три буквы, пример alerts - --ale-main-color
   */

  /* Notification */
  --not-alert-bg-color: #004d42;
  --not-error-bg-color: #800000;
}
