:root {
  --color1: #171e13;
  --color1-hov: #202819;
  --color2: #424b35;
  --color2-hov: #49533c;
  --color4: #b47c4b;
  --color4-hov: #be8553;
  --color5: #561d18;

  --color1-or: #250000;
  --color1-hov-or: #250000;
  --color2-or: #713232;
  --color2-hov-or: #713232;
  --color4-or: #800000;
  --color4-hov-or: #800000;
  --color5-or: #250000;

  --color1-t2: #015366;
  --color1-hov-t2: #006f83;
  --color2-t2: #63898C;
  --color2-hov-t2: #6f989b;
  --color4-t2: #A7D1D2;
  --color4-hov-t2: #b2ddde;
  --color5-t2: #033540;

  --color1-t3: #453C41;
  --color1-hov-t3: #453C41;
  --color2-t3: #7B7C81;
  --color2-hov-t3: #7B7C81;
  --color4-t3: #D4DBE2;
  --color4-hov-t3: #D4DBE2;
  --color5-t3: #1D0F0F;
}

body {
  .board-game-main {
    @apply
      w-full
      overflow-auto
      mr-auto ml-auto
      bg-[var(--main-bg-color)]
      min-h-[500px]
    ;
  }
}

.btn-board {
  @apply bg-[var(--color1)] mr-2;

  &:hover {
    @apply bg-[var(--color2)];
  }
}

// Переопределние стилей Notification
.alert-box {
  @apply w-full;

  .message {
    width: calc(100% - 60px);
  }
}

.user-interface-title {
  @apply pb-[1rem] mt-[2rem] mb-[1.5rem] block text-[1.3rem] text-center;

  border-bottom: 1px solid var(--second-border-color);
}

// Контейнер используемый для вывода сообщений
.item-box {
  @apply p-2 mb-2 bg-[var(--second-bg-color)] rounded flex;
}
