/* НАЧАЛО основные стили */
body {
  @apply
    text-[var(--main-text-color)]
    m-auto mt-0
    bg-[var(--body-bg-color)]
  ;

  font-size: var(--main-font-size);
  font-family: var(--main-text-font);

  .main {
    @apply
      w-full
      overflow-auto
      mr-auto ml-auto
      bg-[var(--main-bg-color)]
      min-h-[500px]
    ;

    @media (min-width: 1400px) { // lg
      @apply w-[var(--main-block-width)];
    }

    article {
      @apply
        pt-0 pr-[var(--main-left-padding)] pb-[30px] pl-[var(--main-right-padding)]
      ;
    }

    &.admin {
      @apply w-full;
    }

    .veil {
      @apply absolute top-0 left-0 w-full h-full bg-[var(--main-veil-color)];
    }

    h1 {
      @apply text-[28px] uppercase font-normal;

      color: var(--third-text-color);
      //text-decoration: none;
    }
  }

  //.overflow-hidden {
  //
  //}
}
/* КОНЕЦ основные стили */

/* НАЧАЛО формы ввода */

/* КОНЕЦ формы ввода */

// Сквозная ссылка (родитель должен быть relative)
.stretched-link:after {
  @apply
    absolute top-0 right-0 bottom-0 left-0 z-[1]
    content-[''] pointer-events-auto bg-transparent
  ;
}
