:root {
  --mod-pt: 8px;
  --mod-pr: 35px;
  --mod-pb: 10px;
  --mod-pl: 35px;
}

.modal-outer-wrapper {
  @apply
    fixed z-[1000]
    top-1/2 sm:left-1/2
    max-h-full overflow-auto
  ;

  .close-button {
    @apply
      text-white
      absolute
      text-3xl
      right-3
      top-3 md:top-0
      cursor-pointer;
  }

  .modal-inner-wrapper {
    @apply bg-[var(--main-bg-color)] h-full overflow-auto;
  }
}

/* modal-window - class который можно переопределить с помощью props, для изменения размеров модального окна */
.modal-window {
  @media (max-width: 639px) {
    @apply w-[100%];
  }

  &.small {
    @media (min-width: 640px) { // sm
      margin-left: calc(var(--modal-small-width) / 2 - var(--modal-small-width) );
    }

    @media (min-width: 768px) {
      margin-left: calc(0px - var(--modal-small-width) / 2);
    }
  }

  &.medium {}
  &.huge {}

  .modal-inner-wrapper {
    @apply
      w-[100%] sm:w-[var(--modal-small-width)]
      pt-[var(--mod-pt)] pr-[var(--mod-pr)] pb-[var(--mod-pb)] pl-[var(--mod-pl)]
      md:mr-[60px]
    ;
  }
}
