:root {
  --mod-pt: 8px;
  --mod-pr: 35px;
  --mod-pb: 10px;
  --mod-pl: 35px;
}

.modal-outer-wrapper {
  @apply
    fixed z-[1000]
    top-1/2 sm:left-1/2
    max-h-full overflow-auto
  ;

  svg.close-button {
    @apply
      text-white
      absolute
      text-3xl
      right-3
      top-3 md:top-0
      cursor-pointer;
  }

  .modal-inner-wrapper {
    @apply bg-[var(--third-bg-color)] h-full overflow-auto;
  }
}

/* modal-window - class который можно переопределить с помощью props, для изменения размеров модального окна */
.modal-window {
  @media (max-width: 639px) {
    @apply w-[100%];
  }

  &.small {
    @media (min-width: 640px) { // sm
      margin-left: calc(var(--modal-small-width) / 2 - var(--modal-small-width) );
    }

    @media (min-width: 768px) {
      margin-left: calc(0px - var(--modal-small-width) / 2);
    }

    .modal-inner-wrapper {
      @apply
        w-[100%] sm:w-[var(--modal-small-width)]
        pt-[var(--mod-pt)] pr-[var(--mod-pr)] pb-[var(--mod-pb)] pl-[var(--mod-pl)]
        md:mr-[60px]
      ;
    }
  }

  &.medium {
    //@media (min-width: 640px) { // sm
    //  margin-left: calc(var(--modal-medium-width) / 2 - var(--modal-medium-width) );
    //}
    //
    //@media (min-width: 768px) {
    //  margin-left: calc(var(--modal-medium-width) / 2 - var(--modal-medium-width));
    //}

    @media (min-width: 640px) { // sm
      width: 100%;
      margin-left: -50%;
    }

    @media (min-width: 768px) {
      width: 100%;
      margin-left: -50%;
    }

    .modal-inner-wrapper {
      @apply
        w-[100%] lg:w-[var(--modal-medium-width)]
        pt-[var(--mod-pt)] pr-[var(--mod-pr)] pb-[var(--mod-pb)] pl-[var(--mod-pl)]
        md:mr-[60px]
      ;
    }
  }

  &.huge {}
  &.full-width {
    @apply
      top-0
      h-[100vh]
    ;

    @media (min-width: 640px) { // sm
      width: 100%;
      margin-left: -50%;
    }

    @media (min-width: 768px) {
      width: 100%;
      margin-left: -50%;
    }

    @media (min-width: 1400px) { // lg
      width: auto;
      margin-left: calc(0px - var(--main-block-width) / 2);

      svg.close-button {
        @apply top-[0.5rem];
      }
    }

    .modal-inner-wrapper {
      @apply
        w-[100%]
        pt-[var(--mod-pt)] pr-[var(--mod-pr)] pb-[var(--mod-pb)] pl-[var(--mod-pl)]
        md:mr-[60px]
      ;

      @media (min-width: 1400px) { // lg
        @apply w-[var(--main-block-width)];
      }
    }
  }
  &.full-screen {
    @apply
      top-0 left-0
      w-full
      h-[100vh]
    ;
  }
}

h3.modal-title {
  @apply
    bg-gradient-to-r from-[var(--main-href-color)] to-[var(--second-href-color)]
    text-[18px]
    mt-[-8px] mr-[-35px] mb-[16px] ml-[-35px]
    pt-[12px] pb-[12px] pl-[34px]
  ;

  width: calc(100% + 35px + 35px);

  &.simple {
    @apply bg-none bg-[var(--main-href-color)];
  }
}
