/* Стили alert окна  */
.admin {
  .alert-box {
    @apply w-full;

    .message {
      width: calc(100% - 60px);
    }
  }
}

.alert-box {
  @apply
    fixed z-[1000] top-0
    flex
    w-full
    bg-[var(--not-alert-bg-color)] text-[20px]
    pt-[25px] pr-[30px] pb-[25px] pl-[30px]
  ;

  @media (min-width: 1400px) {
    @apply w-[var(--main-block-width)];
  }

  .message {
    width: calc(var(--main-block-width) - 60px);
  }
}

/* Стили error окна */
.error-box {
  width: calc(100% - 5rem);

  @apply
  fixed z-[1001] bottom-0 right-0
  mr-10 mb-10
  md:w-[500px];

  .wrap {
    @apply
      relative
      bg-[var(--not-error-bg-color)]
      cursor-pointer
      mt-5 p-5 pl-16;

    @media (min-width: 640px) and (max-width: 768px) {
      width: 500px;
      margin-left: auto;
      margin-right: auto;
    }

    svg.fa-circle-exclamation {
      @apply absolute left-4;
      top: calc(50% - 16px);
    }

    .close-button {
      @apply absolute right-3 top-3;
    }
  }
}
