/* НАЧАЛО шрифты */
@font-face {
  font-family: "PFCentroSansPro-Light";
  src: url("/fonts/PFCentroSansPro-Light.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PFCentroSansPro-Medium";
  src: url("/fonts/PFCentroSansPro-Medium.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
}
/* КОНЕЦ шрифты */
