/* НАЧАЛО кнопки и ссылки */
button,
button, [type="button"], [type="reset"], [type="submit"] {
  min-width: 300px;
  margin: 15px auto 15px;

  background: var(--main-block-color);
  border: 2px solid var(--main-border-color);
  color: var(--second-text-color);

  padding: 10px;
  font-size: 20px;
  font-family: PFCentroSansPro-Medium;

  transition: 1s;
  cursor: pointer;
}

button:hover {
  background: var(--second-block-color);
  color: var(--third-text-color);
}
/* КОНЕЦ кнопки и ссылки */

/* НАЧАЛО Поля ввода */
input {
  min-width: 15%;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid var(--second-border-color);
  margin-right: 15px;
  padding: 10px 10px 10px 20px;
}

input.button-height {
  border: 2px solid var(--second-text-color);
  font-size: 20px;
}
/* КОНЕЦ Поля ввода */
